<div class="container">
  <div *ngIf="searching === true">
    <div class="text-center">
      <div class="spinner-grow" role="status">
        <span class="sr-only">Loading...</span>
      </div>
    </div>
  </div>

  <div *ngIf="searching === false">
    <form [formGroup]="form" (ngSubmit)="submit(form)">
      <div class="form-group">
        <select
          formControlName="college"
          name="college"
          id="college"
          class="form-control"
        >
          <option value="" selected disabled>Select College</option>
          <option *ngFor="let college of colleges" [ngValue]="college">
            {{ college.name }}
          </option>
        </select>
        <div *ngIf="college?.touched && college?.invalid">
          <div *ngIf="college.errors?.required" class="text-danger">
            Please select College.
          </div>
        </div>
      </div>
      <button
        *ngIf="visible === false"
        type="submit"
        class="btn btn-primary"
        [disabled]="form.invalid"
      >
        Done
      </button>
      <div *ngIf="visible === true">
        <a
          class="btn btn-secondary"
          type="button"
          routerLink="/departments/{{ cid }}"
          >Next</a
        >
      </div>
    </form>
  </div>
</div>
