<div class="py-5">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="card mb-4 h-100">
          <img
            src="https://images.unsplash.com/photo-1561089489-f13d5e730d72?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=967&q=80"
            class="card-img-top"
            alt="Students"
          />
          <h5 class="card-title px-4 pt-4">Students</h5>
          <div class="card-body">
            <p class="card-text">
              This is the list of colleges, department & students who have are
              studying currently in their respective colleges.
            </p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <a
                  type="button"
                  class="btn btn-sm btn-outline-secondary"
                  routerLink="/colleges"
                >
                  View
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card mb-4 h-100">
          <img
            src="https://images.unsplash.com/photo-1462536943532-57a629f6cc60?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1052&q=80"
            class="card-img-top"
            alt="Graduated"
          />
          <h5 class="card-title px-4 pt-4">Graduates</h5>
          <div class="card-body">
            <p class="card-text">
              This is the list of colleges, department & students who have
              graduated from their respective colleges.
            </p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button
                  type="button"
                  class="btn btn-sm btn-outline-secondary"
                  routerLink="/graduates"
                >
                  View
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
